services:
  - type: web
    name: x-invoice-keycloak
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: KEYCLOAK_ADMIN
        value: admin
      - key: KEYCLOAK_ADMIN_PASSWORD
        value: 200KhachH@ng
      - key: KC_HOSTNAME_STRICT
        value: "false"
      - key: KC_HTTP_RELATIVE_PATH
        value: /auth
      - key: KC_PROXY_HEADERS
        value: xforwarded
    buildCommand: ""
    startCommand: /opt/keycloak/bin/kc.sh start-dev --http-port=$PORT --import-realm

